:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255);

  background-color: #1DCBDB;
  background-image: url("./images/background.jpg") !important; 
  background-position: center;
  background-size: cover;
 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 12px;
}

button {
  border-radius: 8px;
  border: 2px solid;
  border-color: #000000;
  border-radius: 18px;

  margin: 15px 8px 0px 8px;
  padding: 12px 22px 12px 22px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #000000;

  background-color: #D9D9D9;
  cursor: pointer;
}
button:hover {
  border-color: #9a9a9a;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.buttonImage {
  max-width: 200px;
  max-height: 100px;
}
